$transition-standard: 0.15s ease-in-out;

/* ////////////
// TYPOGRAPHY
///////////// */

$font-headings: 'Helvetica Neue', 'Noto Sans', 'Liberation Sans', Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
$font-body: 'Helvetica Neue', 'Noto Sans', 'Liberation Sans', Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
$font-serif: adobe-garamond-pro, serif;

/* //////////
// COLORS
/////////// */

$color-purple: #51276e;
